job_logs/
*dag*
*.hdf5
*.nur
simulation_data/*
!simulation_data/*.yaml
!simulation_data/*.json
wandb/
experiments/
architecture_testing/
debug.ipynb
__pycache__
checkpoints/
*debug*
!*debug
*old*
RNO_machine_learning/model_experiments/model_RNO4/main.py
RNO_machine_learning/model_experiments/model_RNO4/main.py
RNO_machine_learning/model_experiments/model_RNO4_thesis/main.py
RNO_machine_learning/utils_dir/test_workers.py
RNO_machine_learning/model_experiments/model_RNO4/main_vds.py
RNO_machine_learning/utils_dir/build_v_dset_splits.py
*main.
!create_dagman_config.yaml
*/model_evals/*
*/manifests/
*.txt
*.png
*.pt
*.csv
