# Machine Learning & Data Science
torch>=2.8.0
torchvision>=0.23.0
torchinfo
torchsummary
torchviz
scikit-learn>=1.7.0

# Simulation & Physics
# Installs the latest in-development version directly from GitHub along with dev dependencies
NuRadioMC[dev] @ git+https://github.com/nu-radio/NuRadioMC.git

# Utilities & Tracking
tqdm
wandb

# Jupyter & Notebook Support
ipykernel
ipympl
nbformat

# Documentation & Code Formatting (Optional for production)
numpydoc
sphinx_rtd_theme
pre_commit